
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.midNav{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-top: 1%;

}
.lastNav{
    margin-top: 1%;
}
.footers::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
 .footers {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
